.item-carrinho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    border-bottom: 0.5px solid lightgrey;
}

.item-carrinho-total-delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
   
    width:100px;
    
}