.lista {
  margin-right: 10px;
  margin-left: 10px;
}

.containerInput {
  display: flex;
  justify-content: center;
  background-color:white;
  position: fixed;
  top: 122px;
  left: 0;
  right: 0;
}

.inputPesquisa {
  width: 100%;
  margin: 10px;
  height: 30px;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}


input:focus {
  outline: none !important;
  border-width: 2px;
}

.errMensagem {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: red;
  font-weight: bold;
}

.titulo-categoria {
  border-bottom: 4px solid #dd1f26;
}

.mensagem-imagens {
  font-style: italic;
  font-size: 10px;
  margin-bottom: 2px;
}

