.lista {
  margin-right: 10px;
  margin-left: 10px;

}

.containerInput {
  display: flex;
  justify-content: center;
  
  border-radius: 5px;
      
     
      align-items: center;
      justify-content: space-between;
      border: 0.5px solid lightgray;
      padding: 10px;

 
  
}

.inputPesquisa {
  width: 100%;
 
  height: 30px;
  

  font-size: 16px;
  border:none;
}

input:focus {
  outline: none !important;
  border-width: 2px;
}
.errMensagem {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: red;
  font-weight: bold;
}
.titulo-categoria {
  border-bottom: 4px solid #dd1f26;
}
.mensagem-imagens {
  font-style: italic;
  font-size: 10px;
  margin-bottom: 2px;
}

