footer {
    position:absolute; 
    bottom:0px; 
    height:50px; 
    left:0px; 
    right:0px; 
    overflow:hidden;

   
    background-color: #f6a800;
    color: #441e1f;
    text-align: center;
    border-top: 2px solid #441e1f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .left {
    padding-left: 10px;
  }
  .right {
    padding-right: 10px;
  }
  .auxiliar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  p {
    font-weight: bold;
  }
  .p-itens-carrinho {
    margin-left: 5px;
   }