.app {
    
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

main {
  position:absolute; 
  top:122px; 
  bottom:50px; 
  left:0px; 
  right:0px;
  overflow:auto;
}

.errMensagem {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: red;
  font-weight: bold;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loader {
  border: 16px solid #f6a800; /* Light grey */
  border-top: 16px solid #441e1f; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: -50px 0 0 -50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
